build/* linguist-vendored
dist/* linguist-vendored

*.html linguist-detectable=false
*.tex linguist-detectable=false
*.toc linguist-detectable=false
*.spec linguist-detectable=false
*.exe linguist-detectable=false

*.py linguist-detectable=true
*.md linguist-detectable=true
